/* All Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Saira+Semi+Condensed:wght@400;500&family=Secular+One&display=swap');

/* Common for all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}
body {
    background: #ACDDF1;
}
/* Hero-Section */
.hero-section {
    position: relative;
    width: 1440px;
    height: 100vh;
    height: 900px;
    background: #fff;
    border-radius: 20px;
}
.logo {
    position: absolute;
    width: 150.89px;
    height: 64.89px;
    left: 89px;
    top: 34px;
}
.navigation {
    position: absolute;
    width: 409px;
    height: 20px;
    left: 752px;
    top: 56px;
}
.nav-home,.nav-about,.nav-premium,.nav-blogs {
    margin-left: 30px;
    color: #254CAC;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.get-started {
    position: absolute;
    width: 162px;
    height: 50px;
    left: 1213px;
    top: 41px;
    color: #ED6D2E;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid #ED6D2E;
    background-color: Transparent;
    cursor:pointer;
}
.join-tag {
    position: absolute;
    width: 150px;
    height: 35px;
    left: 93px;
    top: 236px;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 25px;
    color: #254CAC;
    
}
.join-title {
    position: absolute;
    width: 562px;
    height: 148px;
    left: 89px;
    top: 261px;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 102px;
    line-height: 148px;
    color: #C1D230;
}
.join-para {
    position: absolute;
    width: 548px;
    height: 90px;
    left: 93px;
    top: 409px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #254CAC;
}
.join-button {
    position: absolute;
    width: 163px;
    height: 51px;
    left: 89px;
    top: 541px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
    background: #ED6D2E;
    border-radius: 30px;
    cursor:pointer;
}
.plants-body, .members-body, .blogs-body {
    position: absolute;
    width: 87px;
    height: 146px;
    left: 93px;
    top: 675px;
}
.members-body {
    left: 284px;
}
.blogs-body {
    left: 471px;
}
.card {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2px;
    background: linear-gradient(180deg, rgba(173, 221, 242, 0.67) 44.27%, rgba(173, 221, 242, 0) 100%);
    filter: drop-shadow(10px 10px 34px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}
.card-logo {
    position: absolute;
    width: 47px;
    height: 42px;
    top: 20px;
    left: 18px;
}
.plants-count, .members-count, .blogs-count {
    position: absolute;
    width: 67px;
    height: 38px;
    left: 10px;
    top: 80px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #254CAC;
}
.blogs-count {
    left: 20px;
}
.plants-title, .members-title, .blogs-title {
    position: absolute;
    width: 87px;
    height: 22px;
    left: 3px;
    top: 115px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #254CAC;
}
.members-title {
    left: 15px;
}
.hero-image {
    position: absolute;
    width: 615.92px;
    height: 719.24px;
    left: 790px;
    top: 133px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 600px;
        margin: 0;
    }
    /* Hero-Section */
    .hero-section {
        position: relative;
        width: 600px;
        height: 900px;
        border-radius: 0;
    }
    .logo {
        width: 105px;
        height: 50px;
        left: 30px;
        top: 20px;
    }
    .logo-img {
        width: 105px;
        height: 60px;
    }
    .navigation {
        width: 300px;
        height: 20px;
        left: 270px;
        top: 50px;
    }
    .nav-home,.nav-about,.nav-premium,.nav-blogs {
        margin-left: 25px;
        font-size: 13px;
    }
    .get-started {
        width: 85px;
        height: 27px;
        left: 175px;
        top: 45px;
        font-size: 11px;
    }
    .join-tag {
        width: 85px;
        height: 25px;
        left: 50px;
        top: 160px;
        font-size: 20px;
    }
    .join-title {
        width: 400px;
        height: 60px;
        left: 150px;
        top: 130px;
        font-size: 70px;
        line-height: 65px;
    }
    .join-para {
        width: 188px;
        height: 150px;
        left: 390px;
        top: 290px;
        font-size: 15px;
        line-height: 25px;
    }
    .join-button {
        width: 130px;
        height: 40px;
        left: 395px;
        top: 490px;
        font-size: 13px;
    }
    .hero-image {
        width: 380px;
        height: 400px;
        left: 3px;
        top: 225px;
    }
    .plants-body, .members-body, .blogs-body {
        left: 70px;
        top: 665px;
    }
    .members-body {
        left: 260px;
    }
    .blogs-body {
        left: 445px;
    }
}